@font-face{font-family:'Vollkorn';font-style:normal;font-weight:normal;src:local('Vollkorn'), url(https://static.kummerlaender.eu/font/Vollkorn-Regular.woff2) format('woff2'), url(https://static.kummerlaender.eu/font/Vollkorn-Regular.woff) format('woff'), url(https://static.kummerlaender.eu/font/Vollkorn-Regular.ttf) format('truetype')}
@font-face{font-family:'Vollkorn';font-style:italic;font-weight:normal;src:local('Vollkorn'), url(https://static.kummerlaender.eu/font/Vollkorn-Italic.woff2) format('woff2'), url(https://static.kummerlaender.eu/font/Vollkorn-Italic.woff) format('woff'), url(https://static.kummerlaender.eu/font/Vollkorn-Italic.ttf) format('truetype')}
@font-face{font-family:'Oswald';font-style:normal;font-weight:normal;src:local('Oswald'), url(https://static.kummerlaender.eu/font/Oswald-Regular.woff2) format('woff2'), url(https://static.kummerlaender.eu/font/Oswald-Regular.woff) format('woff'), url(https://static.kummerlaender.eu/font/Oswald-Regular.ttf) format('truetype')}
@font-face{font-family:'Oswald';font-style:normal;font-weight:bold;src:local('Oswald'), url(https://static.kummerlaender.eu/font/Oswald-Bold.woff2) format('woff2'), url(https://static.kummerlaender.eu/font/Oswald-Bold.woff) format('woff'), url(https://static.kummerlaender.eu/font/Oswald-Bold.ttf) format('truetype')}

body{margin:0;padding:0;font:normal 1.1em 'Vollkorn',sans-serif;color:#272828;word-wrap:break-word}
a, a:visited{text-decoration:underline;color:#272828}
a:hover{color:black;text-decoration:underline !important}
a.more{font:normal 1em 'Segoe UI Symbol','Oswald',sans-serif}/*edge workaround*/
h1, h2, h3, h4{margin:0;color:#272828;font-weight:normal}
h1 a, h2 a{text-decoration:none}
p{margin:0 0 .5em 0;text-align:justify;line-height:1.75em}
ul{margin:0;padding:0;list-style:none}
blockquote{border-left:.4em solid #e3e8e8;margin-left:0;padding-left:1em}
pre{font-family:monospace;padding:1em;border-radius:.75em;color:#f8f8f2;background:#272822;white-space:pre-wrap}
code{font-family:monospace;margin:0 .1em;padding:0 .5em;border:.1em solid #e3e8e8;background-color:#f8f8f8;border-radius:.3em}
sup{vertical-align:baseline;position:relative;top:-0.6em}
sub{vertical-align:baseline;position:relative;top:0.4em}

#navigation{padding:2em 0 0 0;font:normal 1em 'Oswald',sans-serif}
#navigation h1{color:#F80;font:bold 1.4em 'Oswald',sans-serif;float:left;padding:0 .2em 0 0;margin:0}
#navigation ul{float:right;font-size:1.1em}

#content p{margin-bottom:.7em;text-align:justify}
#content h2{font:normal 1.2em 'Oswald',sans-serif;line-height:1em;margin:0;text-align:left}
#content h2 .arrow{font:bold 1.4em 'Oswald',sans-serif;color:#F80}
#content h2 a{text-decoration:none !important;display:inline-block;vertical-align:middle;max-width:95%}
#content h2 a:hover{text-decoration:underline !important}
#content h3, #content h4{font:normal 1.05em 'Oswald',sans-serif;padding-bottom:.2em;margin:.8em 0 .5em 0;border-bottom:.1em solid #e3e8e8}
#content img{padding:.2em;border:.1em solid #e3e8e8;display:block;margin-left:auto;margin-right:auto;max-width:95%}
#content img.clear{border:0;max-width:100%}
#content p.math{padding:0.5em;line-height:0;text-align:center}
#content span.math{line-height:0}
#content ul{margin-left:2em;text-align:left}
#content ul li{list-style-type:circle;float:none}
#content ul li a{background:0}
#content table{border-collapse:collapse;border-left:.4em solid #e3e8e8;margin:1em}
#content table thead{border-bottom:.1em solid #272828}
#content table tr{border-bottom:.1em solid #272828}
#content table tr:last-child{border-bottom:0}
#content table tr th{font-weight:normal;padding:.2em 1em}
#content table tr td{padding:.2em 1em}
#content .article{border-bottom:.3em dotted #e3e8e8;padding-bottom:.5em;margin-top:1em;text-align:justify}
#content .article:last-child{border:none}
#content .info{font:normal 1em 'Oswald',sans-serif;line-height:1em;margin-bottom:-.3em;text-align:left}
#content .info .spacer{font:bold 1.68em 'Oswald',sans-serif;vertical-align:top;visibility:hidden}
#content .info .text{font-size:0.9em}
#content .info a{font-size:.9em;text-decoration:none;color:#272828}
#content .info a:hover{text-decoration:underline}
#content .footnotes{border-top:.3em dotted #e3e8e8}
#content video{padding:.2em;border:.1em solid #e3e8e8;display:block;margin:1em auto;max-width:95%}
#content .flexcolumns{display:flex;flex-direction:row;flex-wrap:wrap;width:100%;margin-bottom:1em}
#content .flexcolumns > div{display:flex;flex-direction:column;flex-basis:100%;flex:1}
#content .flexcolumns > div > span{text-align:center}

#pagination{font:normal 1em 'Oswald',sans-serif;height:1.5em;margin-top:.5em}
#pagination span.disabled{display:none}
#pagination span a{text-decoration:none;color:#272828}
#pagination span a:hover{text-decoration:underline}
#pagination span a.pagination-previous{float:left}
#pagination span a.pagination-next{float:right}

#tags{overflow:hidden;border-top:.3em solid #e3e8e8;padding:.2em 0 0 0;font:normal 1em 'Oswald',sans-serif}
#tags li:first-child {margin-left:0}

#footer{padding-top:.3em;font:normal 1em 'Oswald',sans-serif}
#footer a{text-decoration:none;color:#272828}
#footer a:hover{text-decoration:underline}
#footer ul{float:right;padding:0}

.full{width:100%}
.center{width:45em;margin:0 auto;overflow:hidden}
.border_bottom{border-bottom:.3em solid #e3e8e8}
.border_top{border-top:.3em solid #e3e8e8}
.footnote-ref{text-decoration:none !important}
.buttonlist{overflow:hidden}
.buttonlist li{float:left;background:#e3e8e8;border-radius:.3em;padding:.2em;margin:0 0 .2em .2em}
.buttonlist li a{text-decoration:none;color:#272828;}
.buttonlist li a:hover{text-decoration:underline}
.articlelist {padding:.3em;list-style:none}
.articlelist li{background:#e3e8e8;border-radius:.3em;margin:.2em;padding:.2em}
.articlelist li a{text-decoration:none}
.articlelist li a:hover{text-decoration:underline}
.archivlist li{background:0;padding-left:1em}
.archivlist li.dateitem{font:bold 1em 'Oswald',sans-serif;padding:0}
.menuhead{font:normal 1em 'Oswald',sans-serif;border-bottom:0.1em solid #e3e8e8;overflow:hidden;padding:0;margin-top:0.8em}
.menuhead h3{float:left;padding:0.4em 0 0 0;margin:0 !important;border:none !important}
.menuhead ul{float:right;padding:0;font-size:1.1em}

@media screen and (max-width:51em){
	#content .article h2 a{max-width:90%}
	#navigation{padding:.3em 0 0 0}
	.center{width:98%}
}
@media screen and (max-width:30em){
	#navigation h1{float:none}
	#navigation ul{float:none}
	#content .article p{text-align:left}
	#content .info{margin-bottom:.8em}
	.arrow{display:none}
	.spacer{display:none}
}
