body{margin:0;padding:0;font:1em sans-serif;color:#272828;word-wrap:break-word}
a, a:visited{color:#272822}
p{margin:0;line-height:1.75em}
ul{margin:0;padding:0;list-style:none}
blockquote{border-left:.4em solid #e3e8e8;margin-left:0;padding-left:1em}
pre{padding:1em;border-radius:.75em;color:#f8f8f2;background:#272822;white-space:pre-wrap}
code{margin:0 .1em;padding:0 .5em;border:.1em solid #e3e8e8;background-color:#f8f8f8;border-radius:.3em}
.full{width:100%}
.center{width:45em;margin:0 auto;overflow:hidden}
.border_bottom{border-bottom:.3em solid #e3e8e8}
.border_top{border-top:.3em solid #e3e8e8}
#navigation{padding:2em 0 0 0}
#navigation h1{color:#F80;font-size:1.4em;font-weight:normal;float:left;padding:0 .2em 0 0;margin:0}
#navigation ul{float:right;font-size:1.1em}
#content p{margin-bottom:.7em;text-align:justify}
#content h2{font-size:1.4em;margin:0;color:#F80}
#content h2 a, h2 span{font-size:.8em;text-decoration:none !important;color:#272828;font-weight:normal;display:inline-block;vertical-align:middle;max-width:95%}
#content h2 a:hover{text-decoration:underline !important}
#content h3, #content h4{font-size:1.05em;font-weight:normal;padding-bottom:.2em;margin-bottom:.5em;border-bottom:.1em solid #e3e8e8}
#content .article{border-bottom:.3em dotted #e3e8e8;padding-bottom:.5em;margin-top:1em;text-align:justify}
#content .article:last-child{border:none}
#content .article a{text-decoration:underline;color:#272828}
#content .article a:hover{color:black}
#content .article ul{float:none;margin-left:2em;text-align:left}
#content .article ul li{list-style-type:circle;float:none}
#content .article ul li a{background:0}
#content .article .info{font-size:.9em;margin-bottom:.5em;margin-left:1.4em}
#content .article .info a{text-decoration:none;color:#272828}
#content .article .info a:hover{text-decoration:underline}
#content .article table{border-collapse:collapse;border-left:.4em solid #e3e8e8;margin:1em}
#content .article table thead{border-bottom:.1em solid #272828}
#content .article table tr{border-bottom:.1em solid #272828}
#content .article table tr:last-child{border-bottom:0}
#content .article table tr th{font-weight:normal;padding:.2em 1em}
#content .article table tr td{padding:.2em 1em}
#content .footnotes {border-top:.3em dotted #e3e8e8}
#content img{padding:.2em;border:.1em solid #e3e8e8;display:block;margin-left:auto;margin-right:auto;max-width:95%}
#content img.clear{border:0;max-width:100%}
#content .math{padding:0.5em;font-size:1.25em;line-height:0}
#pagination{height:1.5em;margin-top:.5em}
#pagination span.disabled{display:none}
#pagination span a{text-decoration:none;color:#272828}
#pagination span a:hover{text-decoration:underline}
#pagination span a.pagination-previous{float:left}
#pagination span a.pagination-next{float:right}
#tags{overflow:hidden;border-top:.3em solid #e3e8e8;padding:.2em 0 0 0}
#tags li:first-child {margin-left:0}
#footer{padding-top:.3em}
#footer a{text-decoration:none;color:#272828}
#footer a:hover{text-decoration:underline}
#footer ul{float:right;padding:0}
#isso-thread{margin-top:1em;font-size:.95em}
#isso-thread h4{font-weight:normal;font-size:1.25em;margin:0;border:none}
#isso-thread .form-wrapper{padding:1em;overflow:hidden}
#isso-thread .form-wrapper input{border:.3em solid #e3e8e8;margin:.3em 0 .3em 0}
#isso-thread .form-wrapper .textarea{border:.3em solid #e3e8e8;width:100%;height:8em;color:#272828}
#isso-thread .form-wrapper .placeholder{color:#858585}
#isso-thread .auth-section .input-wrapper{float:left;margin-right:.3em}
#isso-root{padding:1em}
#isso-root a{text-decoration:underline;color:#272828}
#isso-root a:hover{color:black}
#isso-root .spacer{visibility:hidden}
#isso-root .isso-follow-up{margin-left:2em;padding-top:.5em}
#isso-root .isso-comment{border-top:.3em solid #e3e8e8;margin-bottom:.5em}
#isso-root .isso-comment-header{font-size:.75em;padding:.3em 0 .3em 0}
#isso-root .isso-comment-header a{text-decoration:none;margin:0 .1em 0 .1em}
#isso-root .isso-comment-header a:hover{text-decoration:underline}
#isso-root .isso-comment-footer{overflow:hidden;font-size:.75em}
#isso-root .isso-comment-footer .reply{float:right}
#isso-root .isso-comment-footer .edit{display:none}
#isso-root .isso-comment-footer .downvote{display:none}
#isso-root .isso-comment-footer .upvote{display:none}
.columns{column-count:2;-moz-column-count:2;-webkit-column-count:2;column-gap:1em;-moz-column-gap:1em;-webkit-column-gap:1em}
.column{-webkit-column-break-inside:avoid;break-inside:avoid-column;overflow:hidden}
.buttonlist{overflow:hidden}
.buttonlist li{float:left;background:#e3e8e8;border-radius:.3em;padding:.2em;margin:0 0 .2em .2em}
.buttonlist li a{text-decoration:none;color:#272828;}
.buttonlist li a:hover{text-decoration:underline}
.articlelist {padding:.3em;list-style:none}
.articlelist li{background:#e3e8e8;border-radius:.3em;margin:.2em;padding:.2em}
.articlelist li a{text-decoration:none}
.articlelist li a:hover{text-decoration:underline}
.archivlist li{background:0;padding-left:1em}
.archivlist li.dateitem{padding:0;font-weight:bold}
.prettylist li{display:inline-block;padding:.5em 0}
.prettylist li a{margin-left:.2em;color:#272828;text-decoration:none}
.prettylist li a:hover{text-decoration:underline}
.prettylist li p{margin:0 !important}
.prettylist li em{font-style:normal;font-size:1.4em;color:#F80}
.commentlist ol{margin-top:.2em;border-top:.1em solid #e3e8e8}
.commentlist ol li{background:0;font-size:.8em}
.commentlist ol li.dateitem{padding:0;font-weight:bold}
@media screen and (max-width:46em){
	#content .article h2 a{max-width:90%}
	#navigation{padding:.3em 0 0 0}
	.center{width:98%}
	.columns{column-count:1;-moz-column-count:1;-webkit-column-count:1}
	.column{width:100%}
}
@media screen and (max-width:30em){
	#navigation h1{float:none}
	#navigation ul{float:none}
}
